﻿.botonLogo {
    background-image:url(/formato/butonaco3.png);
    border-radius:100%;
                border:solid;
                border-color:#91b2b4;
    width:120px;
    height:120px;
    color:#f9f9f9;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size:20px;
}
.botonLogo:hover{
    color:#69e1e1;
}
.botonLogo:active{
    box-shadow:5px 5px black;	
}
.estiloEspacioUsuarios{

    width:600px;
    height:500px;
    display:none;
    background-color:black;
    opacity:0.95;
}
.tablaRegistro{
    border-collapse:collapse;
}
.tablaRegistro tr td{
    padding-right:10px;
    padding-bottom:20px;
    text-align:right;
}
.tablaLogin{
    border-collapse:collapse;
}
.tablaLogin tr td{
    padding-right:10px;
    padding-bottom:40px;
    text-align:right;
}




.accordion {
    -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    border-color: #505050;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    margin: 0 auto;
    height: 464px;
    width: 900px;
}

.accordion > ul > li,
.accordion-title,
.accordion-content,
.accordion-separator {
    float: none;
}

.accordion > ul > li {
    background-color: #314562;
    margin-right: -0px;
    margin-bottom: -300px;
}

.accordion-select:checked ~ .accordion-separator {
    margin-right: 0px;
    margin-bottom: 300px;
}

.accordion-title,
.accordion-select  {
    background-color: #1a2637;
    color: #f9f9f9;
    width: 900px;
    height: 40px;
    font-size: 18px;
}

.accordion-title span {
    margin-bottom: 20px; 
    margin-left: 20px;
    text-align:left;
}

.accordion-select:hover ~ .accordion-title,
.accordion-select:checked ~ .accordion-title {
    background-color: #51647f;
}

.accordion-title span  {	
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    margin-bottom: 0px;
    line-height: 40px;
}

.accordion-content {
    background-color: #2f3a37;
    color: #f5f2f0;
    height: 228px;
    width: 828px;
    padding: 36px;
    text-align:left;
    padding-left:100px;
}

.accordion-title,
.accordion-select:checked ~ .accordion-content {
    margin-right: 1px;
    margin-bottom: 1px;
}

.accordion {
    overflow: hidden;
}

.accordion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 101%;
}

.accordion > ul > li,
.accordion-title {
    position: relative;
}

.accordion-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.accordion-title span {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
}

.accordion-content {
    position: relative;
    overflow: auto;
}

.accordion-separator {
    transition: margin 0.3s ease 0.1s;
    -o-transition: margin 0.3s ease 0.1s;
    -moz-transition: margin 0.3s ease 0.1s;
    -webkit-transition: margin 0.3s ease 0.1s;
}
        p.userInfo{
            margin:3px;
        }
        .linkInfoUser{
            color:white;
        }
        .errorValidation{
            background-color:#b70000;
            padding-left:3px;
            padding-right:3px;
            color:white;
        }

.botonSubir{
    width:104px;
    line-height:104px;
    border-radius:100%;
    position:relative;
    left:20px;
    border:4px solid #628eb3;
    background-image:url(/formato/botonsubir.png);
}
.botonSubir:hover{
    background-color:#628eb3;
    border-color:white;
    background-image:url(/formato/botonsubir2.png);
}
  #divSlideshow {
           
            height: 350PX;
            width: 750px;
            background-color:red;
            align-content:center;

            left:0;
            right:0;
            top:800px;
            margin-left:auto;
            margin-right:auto;
        }

        #slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 840px; 
    height: 640px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

