﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LogoMaster.Master" AutoEventWireup="true" CodeBehind="Productos.aspx.cs" Inherits="AplicacionWeb.Productos" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

      <div id="twitter">

          <a class="twitter-timeline" href="https://twitter.com/Rockbarcanteros" data-widget-id="731866578158006276">Tweets por el @Rockbarcanteros.</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>



            </div>

    <div style="">





        <br><br>

<style>
.mySlides {display:none;}
    #twitter {
    position:absolute;
    width:300px;
    height:300px;
    top:-300px;
    right:30px;
    
    
    
    }
</style>
         
    
        <div style="position:relative;
            align-content:center;
            top: 0px;
            left:20%;
           ">

                        <img src="/formato/hall.png"  >


        </div>
        <div class="w3-content w3-section" style="position:relative;
            align-content:center;
            border:solid;
            max-width:600px;
            left:30%;
            top: 0px;
          ">


            <img class="mySlides" src="/formato/chupi.jpg" style="width:600px;height:300px" > 
            <img class="mySlides" src="/formato/orden.jpg" style="width:600px; height:300px">
            <img class="mySlides" src="/formato/meta.jpg"  style="width:600px;height:300px" >
            <img class="mySlides" src="/formato/jarra.jpg" style="width:600px;height:300px" >
       
         
            
             </div>

<script>
    //Script para el cambio de imagen, coge un elemento de la clase "mySlides"(.mySlides) que muestra "none" y actua 
    //como un vector de imagenes, que cambia de indice cada 'x' ms

    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4000); // Cambio de imagen cada 4 s (4000ms)
    }
</script>






    </div>
</asp:Content>

   
    