﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LogoMaster.Master" AutoEventWireup="true" CodeBehind="Nosotros.aspx.cs" Inherits="AplicacionWeb.Nosotros" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style="color:white; text-align:center">

        <div class="accordion">
    <ul>
        <li>
            <input type="radio" name="select" class="accordion-select" checked />
            <div class="accordion-title";>
                <span>Un poco de historia</span>
            </div>

            <div class="accordion-content"; style="background:url(/formato/cenaprueba.png);" >
                <img src="/formato/cantiguo.png" style="border:2px solid black ;width:300px;height:196px;left:-10%; position:relative; float:left; ">
                                <br>

                <div style="
                    position:relative;
                    left:-9%

                    ">
                    
                    <font face="Arial", size="4", color ="White">Los Canteros somos una organización o hermandad secreta liderada por
               el Número Uno (tambien conocido como Miguel el Magno). Hace eones nos reuníamos en la taberna del sur, pero debido a problemas con la ley
               debimos cambiar de lugar de reunión.
                    </font>
                          </div>
                                         
                <br>
                <br>
                <br>

                <br>
                <br>
               
                <img src="/formato/bancanteros.png" style="border:2px solid black ;width:300px;height:196px;right:50px; position:absolute; float:right; ">
                <br>
                <br>
                <br>
                 <font face="Arial", size="4", color ="White">
                             Sin embargo ahora estrenamos nuevo punto de reunión, con                <br>
                             camareros y fotógrafos privados, página web nueva y                 <br>
 
                        muchas opciones personalizables para que todos nuestros                <br>
 miembros puedan tener su propio lugar de reunión.
                    </font>
            </div>
            <div class="accordion-separator"></div>
        </li>
        <li>
            <input type="radio" name="select" class="accordion-select" />
            <div class="accordion-title">
                <span>Nuestras redes sociales</span>
            </div>
            <div class="accordion-content" style="background:url();">
                <a href="https://twitter.com/Rockbarcanteros"; target="_blank" >
                <img src="/formato/twitterlogo.png" style="width:100px;height:100px;float:left; padding-right:20px;">
                    </a>
                <br>
                <br><font face="Arial", size="4", color ="White"> El Twitter de LOS CANTEROS, 
                    en él puedes encontrar
                    información adicional,<br> noticias de última hora y actualizaciones. 
                                   </font>
                <br><br><br><br>

                <a href="https://www.facebook.com/loscanterosrockbar"; target="_blank" >
                <img src="/formato/fblogo.png" style="width:100px;height:100px;float:left; padding-right:20px;">
                </a>
                <br>
                <font face="Arial", size="4", color ="White"> La página oficial de Facebook de LOS CANTEROS, en ella puedes encontrar
                    fotos exclusivas y comunicarte con todos los usuarios.
                
                                   </font>
                
            </div>
            <div class="accordion-separator"></div>
        </li>
        <li>
            <input type="radio" name="select" class="accordion-select" />
            <div class="accordion-title">
                <span>¿Dónde puedes encontrarnos?</span>
            </div>
            <div class="accordion-content" style="text-align:center ;background:url(/formato/backgrounasul.png)">
                
                <iframe style=" padding-right:150px ; width:550px ;height:250px ;border-width:0px; margin:0px;"   src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d226.85127278470839!2d-0.6917732215974459!3d38.269653938992946!2m2!1f200.49977575283145!2f45!3m2!1i1024!2i768!4f20!3m3!1m2!1s0xd63b68bf284edf5%3A0x86c56341429e2ca4!2sCarrer+Mart%C3%ADn+de+Torres%2C+14%2C+03202+Elche%2C+Alicante!5e1!3m2!1ses!2ses!4v1463146982720"></iframe>


            </div>
            <div class="accordion-separator"></div>
        </li>


            <li>
            <input type="radio" name="select" class="accordion-select" />
            <div class="accordion-title">
                <span>Nuestro himno</span>
            </div>
            <div class="accordion-content";  style=" padding-left:250px; background:url(/formato/backgroundlogo.png) ; background-repeat: no-repeat; width: 8000px; ">


                <iframe style="width:314px;height:166px;" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/64101468&amp;color=ff5500"></iframe>

              <br> <font face="IMPACT", size="5", color ="BLACK"> 
                  
               ¿Quién gobierna los Británicos?<br>

                ¿Y prohíbe el sistema métrico?<br>
                <font color ="#C40808"> Nosotros, nosotros.<br><br> </font>

               ¿Quién descubrió las Atlántida<br>
               y contacta con alienígenas?<br>
                <font color ="#C40808"> Nosotros, nosotros.<br><br> </font>
   
¿Quién retrasa los avances de la NASA?        <br>               
¿Quién sabe controlar a las masas?<br>
                <font color ="#C40808"> Nosotros, nosotros.<br><br> </font>

¿Quién da al dólar su valor<br>
y el Oscar al mejor actor?<br>
                <font color ="#C40808"> Nosotros, nosotros.<br><br> </font>
                  </font>










            </div>
            <div class="accordion-separator"></div>
        </li>
    </ul>
</div>

    </div>
</asp:Content>
