﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LogoMaster.Master" AutoEventWireup="true" CodeBehind="Noticias.aspx.cs" Inherits="AplicacionWeb.Noticias" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style="background-color:rgba(80, 81, 80, 0.6); border:solid; text-align:center;" >
<div style="opacity:1">        
<script src="http://feeds.feedburner.com/Loscanterosbar?format=sigpro" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/Loscanterosbar"></a><br/>Powered by FeedBurner</p> </noscript>
    </div>
        </div>
</asp:Content>
