﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LogoMaster.Master" AutoEventWireup="true" CodeBehind="pruebaMaestra.aspx.cs" Inherits="AplicacionWeb.pruebaMaestra" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        #prueba {
            max-height: 200px;
            max-width:300px;
            overflow:hidden;
            overflow-y:scroll;
            border:1px solid white;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style="text-align:center">
    <asp:Image ID="Image1" runat="server" ImageUrl="http://i130.photobucket.com/albums/p275/DarkHorsePinoso/ElltimoEmperador2-1.jpg" />
        <div id="prueba">
            <asp:Panel ID="PanelButtons" runat="server">
                <asp:Button ID="Button1" runat="server" Text="Entrar" OnClick="Button1_Click" />
                <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Salir" />
            </asp:Panel> </div>
        </div>
</asp:Content>
